<div class="main-content">
    <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card card-chart">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">BPM trend during {{conconiTest.date}} Conconi Test
                      </h4>
                  </div>
                  <div class="card-body">
                      <div id="bpm" style="height:600px;"></div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
        <div class="col-md-12">
            <div class="card card-chart">
                <div class="card-header card-header-danger">
                    <h4 class="card-title ">CONCONI ANALYSIS {{conconiTest.date}}
                    </h4>
                </div>
                <div class="card-body">
                    <div id="conconi" style="height:600px;"></div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>